ul{
    list-style-type: decimal;
}

.title{
    text-align: center;
    font-size: 35px;
    margin-top: 40px;
}
.formula{
    text-align: center;
    font-size: 25px;
}

.input{
    text-align: center;
    margin: 15px;
    font-size: 20px;
    font-weight: bold;
    position: relative;
}
input{
    /* text-align: center; */
    width: 230px;
    height: 22px;
    padding-left: 15px;
    font-size: 18px;
    border-radius: 10px;
    background-color:blanchedalmond;
}

button{
    margin:20px;
    padding:5px;
}
.custom-btn {
    width: 90px;
    height: 36px;
    color: black;
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }  
.btn-flip{
    position: absolute;
    left: 63%;
    top: 47%;
    border:none;
    box-shadow: none;
    width: 90px;
    height: 36px;
    line-height: 40px;
    -webkit-perspective: 230px; 
    perspective: 230px;
    font-size: 15px;
    font-weight: bold;
}
.btn-flip span {
    background: ffff00;
    background: linear-gradient(0deg, #ffff00 0%, #fafad2 100%);
    display: block;
    position: absolute;
    width: 90px;
    height: 36px;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    border-radius: 5px;
    margin:0;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s;
}
.btn-flip span:nth-child(1) {
    box-shadow:
     -7px -7px 20px 0px #fff9,
     -4px -4px 5px 0px #fff9,
     7px 7px 20px 0px #0002,
     4px 4px 5px 0px #0001;
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    transform: rotateX(90deg);
    -webkit-transform-origin: 50% 50% -20px;
    -moz-transform-origin: 50% 50% -20px;
    transform-origin: 50% 50% -20px;
}
.btn-flip span:nth-child(2) {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: 50% 50% -20px;
    -moz-transform-origin: 50% 50% -20px;
    transform-origin: 50% 50% -20px;
}
.btn-flip:hover span:nth-child(1) {
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
}
.btn-flip:hover span:nth-child(2) {
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    color: transparent;
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
}
.btn-save {
    background: linear-gradient(0deg, rgba(255,151,0,1) 0%, rgba(251,75,2,1) 100%);
    line-height: 40px;
    padding: 0;
    border: none;
    font-size: 15px;
    font-weight: bold;
    position: absolute;
    left: 71%;
    top: 48.8%;
}
.btn-save span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}
.btn-save:before,
.btn-save:after {
    position: absolute;
    content: "";
    right: 0;
    bottom: 0;
    background: rgba(251,75,2,1);
    box-shadow:
     -7px -7px 20px 0px rgba(255,255,255,.9),
     -4px -4px 5px 0px rgba(255,255,255,.9),
     7px 7px 20px 0px rgba(0,0,0,.2),
     4px 4px 5px 0px rgba(0,0,0,.3);
    transition: all 0.3s ease;
}
.btn-save:before{
    height: 0%;
    width: 2px;
}
.btn-save:after {
    width: 0%;
    height: 2px;
}
.btn-save:hover{
    color: rgba(251,75,2,1);
    background: transparent;
}
.btn-save:hover:before {
    height: 100%;
}
.btn-save:hover:after {
    width: 100%;
}
.btn-save span:before,
.btn-save span:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    background: rgba(251,75,2,1);
    box-shadow:
     -7px -7px 20px 0px rgba(255,255,255,.9),
     -4px -4px 5px 0px rgba(255,255,255,.9),
     7px 7px 20px 0px rgba(0,0,0,.2),
     4px 4px 5px 0px rgba(0,0,0,.3);
    transition: all 0.3s ease;
}
.btn-save span:before {
    width: 2px;
    height: 0%;
}
.btn-save span:after {
    height: 2px;
    width: 0%;
}
.btn-save span:hover:before {
    height: 100%;
}
.btn-save span:hover:after {
    width: 100%;
}