.select {
  border: 1px solid #aaa;
  border-radius: 0.5em;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;

  padding: 0.3em 1em 0.4em 0.8em;
  margin: 0;
  color: #444;
  background-color: antiquewhite;

  &:hover {
    border-color: #888;
  }

  &:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, 0.7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222;
    outline: none;
  }

  &:disabled {
    opacity: 0.5;
  }
}
.h {
  // text-align: center;
  margin-left: 20%;
  margin-right: auto;
  display: table;
}

ul {
  /* list-style-type: decimal; */
  color: white;
  margin-left: auto;
  margin-right: auto;
  display: table;
  margin-top: 22px;
}
li {
  padding: 7px;
  font-size: 20px;
}

.title {
  text-align: center;
  font-size: 35px;
  margin-top: 40px;
}
.formula {
  text-align: center;
  font-size: 25px;
}

.input-container {
  float: left;
  margin-left: calc((100vw - 500px) / 2 - 50px);
  margin-bottom: 5px;
  width: 500px;
}
.input {
  text-align: center;
  margin: 15px;
  font-size: 20px;
  font-weight: bold;
  position: relative;
}
input {
  /* text-align: center; */
  width: 230px;
  height: 22px;
  padding-left: 15px;
  font-size: 18px;
  border-radius: 10px;
  background-color: blanchedalmond;
}

button {
  margin: 20px;
  padding: 5px;
}
.custom-btn-container {
  height: 100px;
  width: 200px;
  display: flex;
  padding-top: 5px;
}
.custom-btn {
  width: 90px;
  height: 36px;
  color: black;
  border-radius: 5px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}
.btn-flip {
  border: none;
  box-shadow: none;
  width: 90px;
  height: 36px;
  line-height: 40px;
  -webkit-perspective: 230px;
  perspective: 230px;
  font-size: 15px;
  font-weight: bold;
  display: contents;
}
.btn-flip span {
  background: ffff00;
  background: linear-gradient(0deg, #ffff00 0%, #fafad2 100%);
  display: block;
  position: absolute;
  width: 90px;
  height: 36px;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin: 0;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.btn-flip span:nth-child(1) {
  box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}
.btn-flip span:nth-child(2) {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}
.btn-flip:hover span:nth-child(1) {
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
}
.btn-flip:hover span:nth-child(2) {
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  color: transparent;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
}
.btn-save {
  background: linear-gradient(
    0deg,
    rgba(255, 151, 0, 1) 0%,
    rgba(251, 75, 2, 1) 100%
  );
  line-height: 40px;
  padding: 0;
  border: none;
  font-size: 15px;
  font-weight: bold;
  position: absolute;
  top: 30px;
  margin-left: 0;
  margin-bottom: 0px;
  position: relative;
}
.btn-save span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.btn-save:before,
.btn-save:after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  background: rgba(251, 75, 2, 1);
  box-shadow: -7px -7px 20px 0px rgba(255, 255, 255, 0.9),
    -4px -4px 5px 0px rgba(255, 255, 255, 0.9),
    7px 7px 20px 0px rgba(0, 0, 0, 0.2), 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}
.btn-save:before {
  height: 0%;
  width: 2px;
}
.btn-save:after {
  width: 0%;
  height: 2px;
}
.btn-save:hover {
  color: rgba(251, 75, 2, 1);
  background: transparent;
}
.btn-save:hover:before {
  height: 100%;
}
.btn-save:hover:after {
  width: 100%;
}
.btn-save span:before,
.btn-save span:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background: rgba(251, 75, 2, 1);
  box-shadow: -7px -7px 20px 0px rgba(255, 255, 255, 0.9),
    -4px -4px 5px 0px rgba(255, 255, 255, 0.9),
    7px 7px 20px 0px rgba(0, 0, 0, 0.2), 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}
.btn-save span:before {
  width: 2px;
  height: 0%;
}
.btn-save span:after {
  height: 2px;
  width: 0%;
}
.btn-save span:hover:before {
  height: 100%;
}
.btn-save span:hover:after {
  width: 100%;
}

.history-container {
  height: 300px;
  /* width: 50%; */
  width: 55vw;
  margin-left: auto;
  margin-right: auto;
  background: #5e5e5e;
  border-radius: 15px;
  margin-top: 40px;
}

.history {
  float: left;
  font-size: 25px;
  color: #ffff00;
  /* padding-left: 20px; */
  margin-top: 20px;
  margin-left: 30px;
  margin-bottom: 0;
}

.mac-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  margin-left: 78%;
  width: 150px;
}

.btn {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 20px;
}

.close-btn {
  background: #ff5d5b;
  border: 4px solid #cf544d;
}
.min-btn {
  background: #ffbb39;
  border: 4px solid #cfa64e;
}
.max-btn {
  background: #00cd4e;
  border: 4px solid #0ea642;
}
